/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Style navbar */

nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo-link {
    order: -1;
}

.link {
    border-bottom: 1px solid black;
    padding: 5vh 0 5vh;
}

.link a {
    color: grey;
    text-decoration: none;
}

/* content width */

.content {
    width: 92vw;
    margin: 0 auto;
}

/* Style header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    display: none;
}

.slogan-section {
    text-align: center;
    margin: 5vh 0 10vh;
}

.slogan-section h1 {
    font-size: 17vw;
    text-transform: uppercase;
}

.slogan-section a {
    color: black;
    border: 1px solid grey;
    padding: 0.5vh 4vw;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5vh;
    display: inline-block;
}

/* Style the middle image */

.middle-img {
    width: 100%;
    margin: 2vh 0;
}


/* Style group-one and group-two */

#group-one {
    margin-top: 5vh;
}

.group-one-item, .group-two-item {
    padding: 1vh 0;
}

/* Style lines */

hr {
    border: 1px solid black;
}

/* Style footer */

#copyright {
    text-align: center;
}
