/* Use your own code or past solution for Great Idea Web Page CSS here! */

nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo-link {
    order: -1;
}
